@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

  html {
    @apply bg-base-200 leading-normal text-base-content;
  }
  
  body {
    @apply bg-base-100 leading-normal text-base-content min-h-screen;
  }

.lgTitle{
  @apply text-xl md:text-4xl lg:text-5xl font-black;
}

.descriptionText{
  @apply text-[10px] md:text-sm font-medium;
}

.secondaryText{
  @apply text-sm md:text-base font-medium;
}

.mediaGlobal {
  @apply px-4 md:px-20 2xl:px-80 transition-all duration-300 ease-in-out;
}